# Compiled code
*.class
*.jar
build/
lib/

# Snaykuu replays
*.srp

# Don't even know what this is
*.zargo~

# SNAYKUU Project file
snaykuu

# NetBeans Project folder
nbproject/

# Intellij project files
*.iml
.idea/
